.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
backend/*.db
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
mobile/android/app/google-services.json
mobile/lib/firebase_options.dart
